/* start background  */

.bg-white {
  background: white;
}
.bg-green {
  background-color: green;
}
.red-c {
  color: red;
}
.green-c {
  color: green;
}
.orange-c {
  color: orange;
}
.blue-c {
  color: var(--blue-c);
}
.bg-blue {
  background-color: var(--blue-c);
}
.bg-orange {
  background-color: orange;
}
.hv {
  cursor: pointer;
}
.n-d {
  display: none;
}
/* end start background  */

/* start fonts  */
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.fs-10 {
  font-size: 10px;
}
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 20px;
}
.fs-30 {
  font-size: 30px;
}

/* end fonts  */
/* start padding  */
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-40 {
  padding: 40px;
}
/* end padding  */

/* start margin  */
.m-0 {
  margin: 0px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-20 {
  margin: 20px;
}
/* end margin  */

/* start flex  */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.between-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* end flex  */

/* strat position  */
.p-rel {
  position: relative;
}
.p-abs {
  position: absolute;
}
/* end position  */

/* start admession  */
.full-w {
  flex-basis: calc(100% - 250px);
}
.full-h {
  height: 100vh;
}

/* end admession  */

/* start  precent */
.s_orange {
  background-color: orange;
}
.s_green {
  background-color: green;
}
.s_blue {
  background-color: blue;
}
.s_red {
  background-color: red;
}
/* end precent  */
.bo {
  border: 1px solid #eee;
}
.bo-bo {
  border-bottom: 1px solid #eee;
}
.b-b {
  border-bottom: none !important;
}

.twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.fa {
  background: #1da1f2;
}
.yo {
  background-color: #ff0000;
}
.li {
  background-color: #0077b5;
}
.tw {
  background-color: #1da1f2;
}
.youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
